{% load staticfiles %}

<style>
  .mdl-layout__drawer {
    width: 350px;
    left: -175px;
  }
  
  .mdl-layout__drawer.is-visible {
    left: 0;
  }
</style>


<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <img src="{% static "zillions/images/user.jpg" %}" class="demo-avatar">
    <div class="demo-avatar-dropdown">
      <span>hello@example.com</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item">hello@example.com</li>
        <li class="mdl-menu__item">info@example.com</li>
        <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
  	
    <a class="mdl-navigation__link" href={% url 'transaction_list' %}?individual={{ user.first_name|lower }}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>Your Transactions</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">warning</i>Flags</a>
    <hr>
    <a class="mdl-navigation__link" href={% url 'transaction_import_list' %}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">file_upload</i>Import Mint Transactions</a>
    <a class="mdl-navigation__link" href={% url 'transfer' %}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">swap_horiz</i>Internal Transfer</a>
    <a class="mdl-navigation__link" href={% url 'export_csv' %}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">file_download</i>Export Julie's Transactions</a>
    <hr>
    <a class="mdl-navigation__link" href={% url 'AddTransactionView' %}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_box</i>Add New Transaction</a>
    <a class="mdl-navigation__link" href={% url 'budget_edit' %}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">mode_edit</i>Edit Budget</a>
    <a class="mdl-navigation__link" href={% url 'budget_view' %}?individual={{ user.first_name|lower }}><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">insert_chart</i>View Your Budget Totals</a>
    <hr>
    <a class="mdl-navigation__link" href={% url 'transaction_list' %}?individual=julie><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>Julie's Transactions</a>
    <a class="mdl-navigation__link" href={% url 'transaction_list' %}?primary=Home><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>Home Primary Category</a>
    <a class="mdl-navigation__link" href={% url 'transaction_list' %}?primary=Rental%20Income><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">view_list</i>Rental Income Primary Category</a>
  </nav>
</div>