{% load rockleton_extras %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- Template to show links to other Zillions views -->
		<!-- In addition, show summary of budget. Surplus per primary category, balance per source, total Julie amount, and confirmation of reconciliation -->
		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="Ed Rogers">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<style>
			table, th, td {
    			border: 1px solid black;
    			border-collapse: collapse;
			}
		</style>
	</head>

	<body>
		<div>
			<header>
				<h1>Home</h1>
			</header>
			<nav>
				<p>
					<u>Home</u>
				</p>

			</nav>
			
			{% if user.first_name == "Ed" %}
				<p>
					<div>
						User Anonymous? {{ user.is_anonymous }}<br>
      					{% if user.is_anonymous %}
							<a href="{% url 'login' %}?next=/zillions/">login</a>
						{% else %}
							Hello {{ user.first_name }}
							<a href="{% url 'logout' %}?next=/zillions/">logout</a>
						{% endif %}
					</div><br>
				</p>
			
				<!-- Show user-specific transactions -->
				<a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}>{{ user.first_name }}'s Transactions</a><br>	
			
				<!-- Show Ed cuts -->
				<a href = {% url 'transaction_list' %}?individual=julie>Julie's Transactions</a><br><br>
				
				<a href = {% url 'transaction_list' %}?source=Chase>Chase Transactions</a><br>
				<a href = {% url 'transaction_list' %}?source=Citi>Citi Transactions</a><br><br>
				
				<a href = {% url 'transaction_list' %}?primary=Bills%20%26%20Utilities>Bills & Utilities</a><br><br>
				
				<a href = {% url 'transaction_list' %}?source=BofA%20CC>BofA CC Transactions</a><br><br>
				
				<a href = {% url 'transaction_import_list' %}>Import Transactions</a><br>
				<a href = {% url 'AddTransactionView' %}>New Transaction</a><br>
				<a href = {% url 'transfer' %}>Transfer Funds</a><br>
				
				<a href = {% url 'export_csv' %}>Export Transactions</a><br>
				
				<a href = {% url 'budget_edit' %}>Edit Budget</a><br>
				
				<br>
				<a href = {% url 'test' %}>Test View</a><br>
				
				<a href = {% url 'budget_view' %}?individual={{ user.first_name|lower }}>View {{ user.first_name }} Budget Totals</a><br>
				
				<!-- Show one-time only notification messages -->
				{% if messages %}
					<ul class="messages">
	    				{% for message in messages %}
	    					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    				{% endfor %}
					</ul>
				{% endif %}<br>
				
				<!-- Show Flagged transactions -->
				<b><a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}&flagged=1>{{ flagged|length }} {{ user.first_name }} transaction(s) flagged</a></b><br>
				<b><a href = {% url 'transaction_list' %}?individual=julie&flagged=1>Check Julie transactions flagged</a></b>
				<br><br>
				<!-- Confirm total reconciliation -->
				<div>
					Dollars to reconcile = ${{ reconciliation|floatformat:2 }}
				</div>	
				
				Last Updated: {{ last_updated }}<br>
				Julie Total: ${{ julie_total|floatformat:2 }}
				<!-- Show surplus per primary category -->
				{% if category_totals %}
					<table>
					{% for bucket, content in category_totals.items %}
						<tr>
							<th colspan=2>{{ bucket }}</th>
						</tr>
						{% for category, amount in content.items %}
							<tr>
								<td>{{ category }}</td>
								<td>
									{% if amount < 0 %}
										-${{ amount|abs }}
									{% else %}
										${{ amount }}
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}
					</table>
				{% endif %}
				
				<div>
					<!-- Show balance per source -->
					{% if source_totals %}
						<table>
						{% for category, content in source_totals.items %}
							<tr>
								<th colspan=2>{{ category }}</th>
							</tr>
							{% for source, amount in content.items %}
								<tr>
									<td>{{ source }}</td>
									<td>
										{% if amount < 0 %}
											-${{ amount|abs }}
										{% else %}
											${{ amount }}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
						</table>
					{% endif %}
				</div>
			{% endif %}
			
			{% if user.first_name == "Julie" %}
				<p>
					<div>
      					{% if user.is_anonymous %}
							<a href="{% url 'login' %}?next=/zillions/">login</a>
						{% else %}
							Hello {{ user.first_name }}
							<a href="{% url 'logout' %}?next=/zillions/">logout</a>
						{% endif %}
					</div><br>
				</p>
			
				<b>
					Last Updated: {{ last_updated }}<br>
					Julie Total: ${{ julie_total|floatformat:2 }}
				</b><br><br>
			
				<!-- Show user-specific transactions -->
				<a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}>{{ user.first_name }}'s Transactions</a><br>
				
				<!-- Show Julie-specific cuts -->
				
				<!-- Show Flagged transactions -->
				<b><a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}&flagged=1>{{ flagged|length }} {{ user.first_name }} transaction(s) flagged</a></b><br>
			{% endif %}


			<footer>

			</footer>
		</div>
	</body>
</html>
