{% extends "zillions/base.html" %}
{% load rockleton_extras %}


{% block title %}{{ block.super }} - Index{% endblock %}

{% block extra_head %}

  <style>

    .mdl-data-table {
      width: 100%; }

    .mdl-data-table tbody tr {
      
      height: 24px; }
      
    .mdl-data-table td, .mdl-data-table th {
      
      padding: 0 18px 6px 18px; }

    .mdl-data-table td {
      height: 24px;
      padding-top: 6px; }

    .mdl-data-table th {
      height: 36px;
      padding-bottom: 6px; }
    
  </style>
  
{% endblock %}

{% block content %}

  {% if user.first_name == "Ed" %}
    <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <a href = {% url 'test' %}>Test View</a>
        </div>
      </div>

      <!-- Show one-time only notification messages -->
      {% if messages %}
        <div class="mdl-cell mdl-cell--3-col mdl-card mdl-card--border mdl-shadow--4dp">
          <div class="mdl-card__supporting-text">
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <!-- Show Flagged transactions -->
      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-card--border mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <b><a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}&flagged=1>{{ flagged|length }} {{ user.first_name }} transaction(s) flagged</a></b><br>
          <b><a href = {% url 'transaction_list' %}?individual=julie&flagged=1>Check Julie transactions flagged</a></b>
        </div>
      </div>
    
      <!-- Confirm total reconciliation -->
      <div class="mdl-cell mdl-cell--3-col mdl-card mdl-card--border mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          Dollars to reconcile = ${{ reconciliation|floatformat:2 }}<br>
          Last Updated: {{ last_updated }}<br>
          Julie Total: ${{ julie_total|floatformat:2 }}
        </div>			
	  </div>
	</div>
	
	<div class = "mdl-grid">

      <!-- Show surplus per primary category -->
      {% if test_cat_totals %}
        <div class="mdl-cell mdl-cell--4-col">
          {% for bucket, content in test_cat_totals.items %}
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--1-col">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric" colspan=2>{{ bucket }}</th>
                </tr>
              </thead>
              {% for category, data in content.items %}
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ category }}</td>
                    <td>
                      {% if data.total < 0 %}
                        -${{ data.total|abs }}
                      {% else %}
                        ${{ data.total }}
                      {% endif %}
                    </td>
                    <td>
						<svg width="95" height="10">
							<rect width="{{ data.bar_length }}%" height="60%" y="15%" x="{{ data.bar_start }}%" style="fill:{{ data.bar_color }};fill-opacity:0.3" />
							<rect width="1%" height="100%" x="50%" style="fill:rgb(0,0,0)" />
							<rect width="1%" height="100%" x="{{ data.positive_budget_bar }}%" style="fill:rgb(0,175,0)" />
							<rect width="1%" height="100%" x="{{ data.negative_budget_bar }}%" style="fill:rgb(175,0,0)" />
						</svg>
                    </td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      {% endif %}
				
      <!-- Show balance per source -->
      {% if source_totals %}
        <div class="mdl-cell mdl-cell--3-col">
          {% for category, content in source_totals.items %}
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric" colspan=2>{{ category }}</th>
                </tr>
              </thead>
              {% for source, amount in content.items %}
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ source }}</td>
                    <td>
                      {% if amount < 0 %}
                        -${{ amount|abs }}
                      {% else %}
                        ${{ amount }}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      {% endif %}

    </div>
    
    
    
  {% endif %}
			
  {% if user.first_name == "Julie" %}
  
    <div class="mdl-grid">
      <!-- Confirm total reconciliation -->
      <div class="mdl-cell mdl-cell--2-col mdl-card mdl-card--border mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          Last Updated: {{ last_updated }}<br>
          Julie Total: ${{ julie_total|floatformat:2 }}
        </div>
      </div>	

				
      <!-- Show Julie-specific cuts -->
				
      <!-- Show Flagged transactions -->
      <div class="mdl-cell mdl-cell--2-col mdl-card mdl-card--border mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <b><a href = {% url 'transaction_list' %}?individual={{ user.first_name|lower }}&flagged=1>{{ flagged|length }} {{ user.first_name }} transaction(s) flagged</a></b>
        </div>
      </div>

    </div>
    		
  {% endif %}



{% endblock %}