<a href = {% url 'index' %}>Home</a>
<ul>
	<li><a href="https://www.pythonanywhere.com/user/rockleton/files/home/rockleton">Upload .out file</a></li>
	<li><a href="https://www.pythonanywhere.com/user/rockleton/consoles/">MySQL console</a>
		<ul>
			<li>use rockleton$rockletonfortune; source rockletonfortune<date>a.out;</li>
		</ul>
	</li>
	<li><a href="https://rockleton.pythonanywhere.com/zillions">PythonAnywhere RockFort</a>
		<ul>
			<li>edrogers / c6</li>
			<li>julie / k2014</li>
		</ul>
	</li>
</ul>
