{% extends "base.html" %}
<!-- Structure for entire site -->

{% block content %}
	<!-- Material Design CSS for MDL Dashboard template-->
	<link rel="stylesheet" href="/zillions/media/dashboard/styles.css">
	
	<!--
	<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	-->
	
	<!-- Body Content -->
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    	
    	<!-- Top Nav Bar -->
		<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
			{% block nav_bar %}{% endblock %}
		</header>
		
		<!-- Side Nav Bar -->
		<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
			{% block menu_drawer %}{% endblock %}
		</div>
		
		<!-- Main Content Area -->
		<main class="mdl-layout__content mdl-color--grey-100">
			{% block content_grid %}{% endblock %}
		</main>
	</div>
	
{% endblock %}